{% extends 'base/base.html' %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col">
      <br>
      <img src="{% static 'imgs/index_four.PNG' %}" alt="People" width="400" height="350" style="float: right; margin: 0 0 5px 5px; ">
      <div style="font-size: 7rem; color: #76CDFF; font-weight: bolder; " class="text-block text-center">Voting is you super power</div>
      <div style="font-size: 2rem; color: grey; font-weight: bold;" class="text-block text-center">Use it well</div>
      <br>
      <br>
    </div>
  </div>

<br>
<div style="font-size: 2rem; color: grey; font-weight: bold;" class="text-block text-center">Если тебя ещё нет с нами, быстрее проходи регистрацию</div>
<br>
<br>

{% endblock %}
