<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% for item in menu %}
        <li class="nav-item">
          <a class="nav-link h6 text-black" href="{% url item.url_name %}">{{ item.name }}</a>
        </li>
        {% endfor %}
        {% if not request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link h6 text-primary" href="{% url 'registration' %}">Зарегистрироваться</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>